.history
out
backup
file-type-error.message
jest.config.js
jest.config.json
LICENSE
listings.txt
listing.txt
node_modules
out
package.json
package-lock.json
README.md
scripts
test
tsconfig.build.json
tsconfig.json
tsconfig.main.json
*.bak
